@model API.DTOs.Accounts.ForgotPasswordDto

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LoginPage";
}
<div class="position-relative overflow-hidden min-vh-100">
    <div class="d-flex justify-content-lg-end w-100 ">
        <div class="row w-100">
            <div class="col-lg-6 col-xl-8">
                <div>
                    <a style="font-size: 50px;font-weight: bold;position: absolute;"
                       class="text-nowrap logo-img d-block px-4 pb-5 pb-xl-0 w-100">EVORA</a>
                </div>
                <div class="d-none d-lg-flex align-items-center justify-content-center">
                    <img src="~/dashboard/assets/images/events.jpg" style="height: calc(100vh);" alt="event">
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 border-start">
                <div class="card mb-0 shadow-none rounded-0 min-vh-100 h-100">
                    <div class="card-body">
                        <a class="text-nowrap logo-img text-center d-block py-9 mt-5 w-100">
                            <b style="font-size: xx-large;">Welcome to EVORA</b>
                        </a>
                        <p class="text-center" style="font-size: 15px;">Forgot Password</p>
                        <form asp-action="ForgotPassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-3">
                                <input type="submit" value="Send Code OTP" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>