@model API.DTOs.Accounts.LoginDto

@{
    ViewData["Title"] = "Evora - SignIn";
    Layout = "_LoginPage";
}
<div class="position-relative overflow-hidden min-vh-100">
    <div class="d-flex justify-content-lg-end w-100 ">
        <div class="row w-100">
            <div class="col-lg-6 col-xl-8">
                <div>
                    <a style="font-size: 50px;font-weight: bold;position: absolute;"
                       class="text-nowrap logo-img d-block px-4 pb-5 pb-xl-0 w-100">EVORA</a>
                </div>
                <div class="d-none d-lg-flex align-items-center justify-content-center">
                    <img src="~/dashboard/assets/images/events.jpg" style="height: calc(100vh);" alt="event">
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 border-start">
                <div class="card mb-0 shadow-none rounded-0 min-vh-100 h-100">
                    <div class="card-body">
                        <a asp-action="Index" asp-controller="Home" class="text-nowrap logo-img text-center d-block py-9 mt-5 w-100">
                            <b style="font-size: xx-large;">Welcome to EVORA</b>
                        </a>
                        <p class="text-center">Please Sign In</p>
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <a class="text-primary fw-bold" asp-action="ForgotPassword" asp-controller="Auth">Forgot Password ?</a>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Sign In" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" />
                            </div>
                            @* <a asp-action="/" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</a> *@
                            <div class="d-flex align-items-center justify-content-center">
                                <p class="fs-4 mb-0 fw-bold">New Member?</p>
                                <a class="text-primary fw-bold ms-2" asp-action="Signup" asp-controller="Auth">Create an account</a>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="text-primary fw-bold ms-2" asp-action="Index" asp-controller="Dashboard">Go To Dashboard</a>
                            </div>
                            
                            @* <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div> *@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>