@model API.DTOs.Accounts.ChangePasswordDto

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_LoginPage";
}
<div class="position-relative overflow-hidden min-vh-100">
    <div class="d-flex justify-content-lg-end w-100 ">
        <div class="row w-100">
            <div class="col-lg-6 col-xl-8">
                <div>
                    <a style="font-size: 50px;font-weight: bold;position: absolute;"
                       class="text-nowrap logo-img d-block px-4 pb-5 pb-xl-0 w-100">EVORA</a>
                </div>
                <div class="d-none d-lg-flex align-items-center justify-content-center">
                    <img src="~/dashboard/assets/images/events.jpg" style="height: calc(100vh);" alt="event">
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 border-start">
                <div class="card mb-0 shadow-none rounded-0 min-vh-100 h-100">
                    <div class="card-body">
                        <a class="text-nowrap logo-img text-center d-block py-9 mt-5 w-100">
                            <b style="font-size: xx-large;">Welcome to EVORA</b>
                        </a>
                        <p class="text-center" style="font-size: 15px;">Change Your Password</p>
                         @if (TempData.Peek("SuccessMessage") != null)
                         {
                             <div class="alert alert-success" role="alert">
                                 @TempData["SuccessMessage"]
                             </div>
                         }
                         
                        <form asp-action="ResetPassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-control" value="@ViewBag.Email" placeholder="Masukan alamat surel Anda" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Otp" class="form-label"></label>
                                <input asp-for="Otp" class="form-control" placeholder="Masukan OTP" required />
                                <span asp-validation-for="Otp" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword" class="form-label"></label>
                                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Masukan kata sandi baru" autocomplete="off" required />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="form-label"></label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Masukan ulang kata sandi baru" autocomplete="off" required />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <script>
                            document.getElementById("Password").addEventListener("input", function () {
                                var password = this.value;
                                var isValid = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*\W).{8,}$/.test(password);
                                if (!isValid) {
                                    this.setCustomValidity("Password must contain at least one uppercase letter, one lowercase letter, one digit, one special character, and be at least 8 characters long.");
                                } else {
                                    this.setCustomValidity("");
                                }
                            });
                            document.getElementById("ConfirmPassword").addEventListener("input", function () {
                                var confirmPassword = this.value;
                                var password = document.getElementById("Password").value;
                                if (password !== confirmPassword) {
                                    this.setCustomValidity("The password and confirmation password do not match.");
                                } else {
                                    this.setCustomValidity("");
                                }
                            });
                            </script>
                            
                            <div class="form-group mt-3">
                                <input type="submit" value="Change Password" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>