.lnr-diamond, .lnr-music-note, .lnr-camera, .lnr-apartment {
    color: #4D67FF;
    font-size: 37px;
    /* To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */
  }

  .about-us {
    background: rgb(255 255 255 / 92%);
  }

  .about-motto {
    font-size: 2.3rem;
  }

  .project-item img  {
    height: 245px;
  }

  .price-block-header h4 {
    font-size: 1.2rem;
  }

.about {
    max-width: none !important;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(./../../img/eureka-fest.jpg) left center no-repeat;
    background-size: cover;
}