.select2-container--bootstrap-5.select2-container--open .select2-selection {
    border-color: #aec3ff;
    box-shadow: none !important;
}

.select2-container--bootstrap-5 .select2-selection {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: #5A6A85;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: #5A6A85;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: white;
    background-color: #5D87FF;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
    font-size: 0.875rem;
    font-weight: 400;
    color: #5A6A85;
}
