<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/png" href="~/dashboard/assets/images/logos/logo.png" />
    <link rel="stylesheet" href="~/dashboard/assets/css/styles.min.css" />
    <link rel="stylesheet" href="~/dashboard/assets/css/custom.css" />
</head>

<body>
    <!--  Body -->
    
    @RenderBody()
    <script src="~/dashboard/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>