
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashboardUser";
}
<div class="row px-4">
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4">
            <div class="col-9">
                <h4 class="fw-semibold mb-8">Checkout</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-muted" href="#">Overview</a></li>
                        <li class="breadcrumb-item" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="checkout">
        <div class="card shadow-none border">
            <div class="card-body p-4">
                <div class="wizard-content">
                    <form action="#" class="tab-wizard wizard-circle">
                        <h6>Package</h6>
                        <section>
                            <div class="table-responsive">
                                <table class="table align-middle text-nowrap mb-0">
                                    <thead class="fs-2">
                                        <tr>
                                            <th>Packet</th>
                                            <th class="text-end">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="border-bottom-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <h6 class="fw-semibold fs-4 mb-0">Birthday Parties</h6>
                                                </div>
                                            </td>
                                            <td class="text-end border-bottom-0">
                                                <h6 class="fs-4 fw-semibold mb-0">1499k</h6>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <h6>Detail Order</h6>
                        <section>
                            <!-- <div class="order-summary border rounded p-4 my-4"> -->
                            <div class="p-3">
                                <div class="d-flex justify-content-between">
                                    <h5 class="fs-5 fw-semibold mb-4">Date Event</h5>
                                    <h5 class="fs-4 mb-4 ms-7">31-10-2023</h5>
                                </div>
                                <h5 class="fs-5 fw-semibold mb-4">Location</h5>
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 fs-4 ms-5">Street</p>
                                    <h6 class="mb-0 fs-4 fw-semibold">......</h6>
                                </div>
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 fs-4 ms-5">SubDistrict</p>
                                    <h6 class="mb-0 fs-4 fw-semibold">......</h6>
                                </div>
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 fs-4 ms-5">District</p>
                                    <h6 class="mb-0 fs-4 fw-semibold">......</h6>
                                </div>
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 fs-4 ms-5">City</p>
                                    <h6 class="mb-0 fs-4 fw-semibold">......</h6>
                                </div>
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 fs-4 ms-5">Provice</p>
                                    <h6 class="mb-0 fs-4 fw-semibold">......</h6>
                                </div>
                            </div>
                            <!-- </div> -->
                        </section>
                        <!-- Step 3 -->
                        <h6>Payment</h6>
                        <section class="payment-method text-center">
                            <div class="d-sm-flex align-items-center justify-content-end my-4 m-5">
                                <a asp-action="Index" asp-controller="User" class="btn btn-success d-block mb-2 mb-sm-0">Approve Payment</a>
                                <a asp-action="Index" asp-controller="User" class="btn btn-danger d-block ms-1">Cancel Payment</a>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>