
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashboardUser";
}

<div class="row">
    <div class="col-lg-12 d-flex">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="card-title fw-semibold mb-4">Welcome User</h5>
                    </div>
                    <p class="mb-0">This is a sample page </p>
                </div>
            </div>
        </div>
    </div>
</div>
