
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashboardUser";
}
<div class="row px-4">
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4">
            <div class="col-9">
                <h4 class="fw-semibold mb-8">Order Now</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-muted" href="#">Overview</a></li>
                        <li class="breadcrumb-item" aria-current="page">Order Now</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <span class="fw-bolder d-block mb-7">
                        <h5>Birthday Parties</h5>
                    </span>
                    <div class="text-center my-4">
                        <img src="~/dashboard/assets/images/birthday.jpg" alt="" class="img-fluid" width="250" height="250">
                    </div>
                    <h2 class="fw-bolder fs-12 mb-3">1499k</h2>
                    <ul class="list-unstyled mb-7">
                        <li class="d-flex align-items-center gap-2 py-2">
                            <i class="ti ti-check text-primary fs-4"></i>
                            <span class="text-dark">Capacity</span>
                        </li>
                        <li class="d-flex align-items-center gap-2 py-2">
                            <i class="ti ti-check text-primary fs-4"></i>
                            <span class="text-dark">Photo</span>
                        </li>
                    </ul>
                    <a asp-action="Checkout" asp-controller="User" class="btn btn-primary fw-bolder rounded-2 py-6 w-100 text-capitalize">Order</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <span class="fw-bolder d-block mb-7">
                        <h5>Birthday Parties</h5>
                    </span>
                    <div class="text-center my-4">
                        <img src="~/dashboard/assets/images/birthday.jpg" alt="" class="img-fluid" width="250" height="250">
                    </div>
                    <h2 class="fw-bolder fs-12 mb-3">1499k</h2>
                    <ul class="list-unstyled mb-7">
                        <li class="d-flex align-items-center gap-2 py-2">
                            <i class="ti ti-check text-primary fs-4"></i>
                            <span class="text-dark">Capacity</span>
                        </li>
                        <li class="d-flex align-items-center gap-2 py-2">
                            <i class="ti ti-check text-primary fs-4"></i>
                            <span class="text-dark">Photo</span>
                        </li>
                    </ul>
                    <button class="btn btn-primary fw-bolder rounded-2 py-6 w-100 text-capitalize">Order</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <span class="fw-bolder d-block mb-7">
                        <h5>Birthday Parties</h5>
                    </span>
                    <div class="text-center my-4">
                        <img src="~/dashboard/assets/images/birthday.jpg" alt="" class="img-fluid" width="250" height="250">
                    </div>
                    <h2 class="fw-bolder fs-12 mb-3">1499k</h2>
                    <ul class="list-unstyled mb-7">
                        <li class="d-flex align-items-center gap-2 py-2">
                            <i class="ti ti-check text-primary fs-4"></i>
                            <span class="text-dark">Capacity</span>
                        </li>
                        <li class="d-flex align-items-center gap-2 py-2">
                            <i class="ti ti-check text-primary fs-4"></i>
                            <span class="text-dark">Photo</span>
                        </li>
                    </ul>
                    <button class="btn btn-primary fw-bolder rounded-2 py-6 w-100 text-capitalize">Order</button>
                </div>
            </div>
        </div>
    </div>
</div>