@{
    ViewData["Title"] = "Dashboard Admin - Customers";
    Layout = "_Dashboard";
}
<div class="card-body px-4 py-3">
    <div class="row align-items-center">
        <div class="col-9">
            <h4 class="fw-semibold mb-8">Customers</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-muted" asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item" aria-current="page">Customers</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 d-flex">
        <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <h5 class="card-title fw-semibold mb-4">Table Customers</h5>
            </div>
            <div class="col-md-4 d-flex justify-content-end mb-4">
                <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    <span>
                        <i class="ti ti-plus"></i>
                    </span>Add New Customers
                </button>
            </div>
            <div class="col-md-12">
                <table id="example2" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Fullname</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Tiger Nixon</td>
                            <td>Male</td>
                            <td>aa@mail.com</td>
                            <td>123123</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" onclick=" ">
                                    <span>
                                        <i class="ti ti-pencil"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn  btn-sm btn-danger" onclick=" ">
                                    <span>
                                        <i class="ti ti-trash"></i>
                                    </span>
                                </button>
                            </td>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Garrett Winters</td>
                            <td>Male</td>
                            <td>aa@mail.com</td>
                            <td>123123</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" onclick=" ">
                                    <span>
                                        <i class="ti ti-pencil"></i>
                                    </span>
                                </button>
                                <button type="button" class="btn  btn-sm btn-danger" onclick=" ">
                                    <span>
                                        <i class="ti ti-trash"></i>
                                    </span>
                                </button>
                            </td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-4 mb-4">
                <section>
                    <input type="hidden" class="form-control" name="guid" id="guid">
                    <input type="hidden" class="form-control" name="nik" id="nik">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="wfirstName2">
                                    First Name : <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control required" id="wfirstName2" name="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="wlastName2">
                                    Last Name : <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control required" id="wlastName2" name="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="wemailAddress2">
                                    Email Address : <span class="text-danger">*</span>
                                </label>
                                <input type="email" class="form-control required" id="wemailAddress2" name="emailAddress">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="wphoneNumber2">Phone Number : <span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="wphoneNumber2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="wlocation2">
                                    Select Gender : <span class="text-danger">*</span>
                                </label>
                                <select class="form-select required" id="wlocation2" name="location">
                                    <option value="">Select</option>
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="wdate2">Date of Birth :</label>
                                <input type="date" class="form-control" id="wdate2">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="wdate2">Hiring Date :</label>
                                <input type="date" class="form-control" id="wdate2">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
    <script src="~/dashboard/assets/js/datatable.js"></script>
}